rich>=10.14.0
markdown-it-py>=2.2.0
pygments>=2.13.0,<3.0.0
mdurl~=0.1
psycopg2-binary
flask
python-dotenv
openai>=1.0.0
langchain
langchain-openai
langchain-community
pymupdf
scikit-learn
numpy
requests
pyjwt
python-docx
streamlit
streamlit-javascript
google-auth
google-auth-oauthlib
google-api-python-client
pandas
# psycopg2
gunicorn